.om-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  background: #f8f6f2;
}

.om {
  text-align: center;
  color: #2a2a2a;
}

.text {
  margin: 25px;
  color: #2a2a2a;
}

#bilder {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2%;
}

.lina {
  padding-top: 20px;
  width: 100%;
}

.eve {
  padding-top: 20px;
  width: 100%;
}

.mattias {
  padding-top: 20px;
  width: 100%;
}

.victor {
  padding-top: 20px;
  width: 100%;
}

.lina-1 {
  text-align: center;
  letter-spacing: 5%;
  font-size: 22px;
  grid-column-start: 2;
  grid-column-end: 7;
}
.eve-1 {
  text-align: center;
  letter-spacing: 5%;
  font-size: 22px;
  grid-column-start: 7;
  grid-column-end: 12;
}
.mattias-1 {
  text-align: center;
  letter-spacing: 5%;
  font-size: 22px;
  grid-column-start: 2;
  grid-column-end: 7;
}
.victor-1 {
  text-align: center;
  letter-spacing: 5%;
  font-size: 22px;
  grid-column-start: 7;
  grid-column-end: 12;
}

.nummer-1 {
  text-decoration: underline;
  padding-bottom: 40px;
  grid-column-start: 2;
  grid-column-end: 7;
  color: #2a2a2a
}

.nummer-2 {
  text-decoration: underline;
  padding-bottom: 40px;
  grid-column-start: 7;
  grid-column-end: 12;
  color: #2a2a2a;
}
.nummer-3 {
  text-decoration: underline;
  padding-bottom: 40px;
  grid-column-start: 2;
  grid-column-end: 7;
  color: #2a2a2a;
}
.nummer-4 {
  text-decoration: underline;
  padding-bottom: 40px;
  grid-column-start: 7;
  grid-column-end: 12;
  color: #2a2a2a;
}

@media screen and (max-width: 1100px) {
  .lina-1 {
    grid-column-start: 3;
    grid-column-end: 7;
  }
  .eve-1 {
    grid-column-start: 7;
    grid-column-end: 11;
  }
  .mattias-1 {
    grid-column-start: 3;
    grid-column-end: 7;
  }
  .victor-1 {
    grid-column-start: 7;
    grid-column-end: 11;
  }

  .nummer-1 {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .nummer-2 {
    grid-column-start: 7;
    grid-column-end: 11;
  }
  .nummer-3 {
    grid-column-start: 3;
    grid-column-end: 7;
  }
  .nummer-4 {
    grid-column-start: 7;
    grid-column-end: 11;
  }
}

@media screen and (max-width: 960px) {
  .lina-1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .eve-1 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .mattias-1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .victor-1 {
    grid-column-start: 7;
    grid-column-end: 13;
  }

  .nummer-1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .nummer-2 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .nummer-3 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .nummer-4 {
    grid-column-start: 7;
    grid-column-end: 13;
  }
}

@media screen and (max-width: 768px) {
  .lina-1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .eve-1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .mattias-1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .victor-1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .nummer-1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .nummer-2 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .nummer-3 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .nummer-4 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
