.container{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    margin:0;
    text-align: center;
    background: #f8f6f2;
    
}


.om{
    text-align: center;

}

.text {
    margin: 25px;
}



