.uppdrag-container {
  /* background-color: rgb(210, 105, 30, 0.4); */
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1500px 1fr;
  /* grid-template-rows: 800px auto; */
}

/* HEADER  */

.uppdrag-header-container {
  /* background-color: rgb(210, 105, 30); */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 800px;
}

.uppdrag-header-content {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(20, 40px);
  height: 100%;
}

/* HEADER FORMS */

.header-img {
  grid-column: 4 / 12;
  grid-row: 4 / 16;
  /* background-color: lightgrey; */
  z-index: 2;
}

.header-img img {
  width: 100%;
}

.header-grey {
  grid-column: 11 / 24;
  grid-row: 6 / 14;
  background-color: #f4f4f4;
  z-index: 3;

  padding: 40px;
}

.header-grey h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.header-blue {
  grid-column: 11 / 15;
  grid-row: 13 / 18;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.circle {
  background: #74d6c9;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

/* MAIN CONTENT */

.main-content-container {
  grid-column: 2 / 3;
  /* grid-row: 2 / 3; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: 50px 150px auto auto 500px; */
  grid-template-rows: 50px 150px auto;
}

.main-nav-container {
  grid-column: 2 / 6;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row nowrap;
  gap: 80px;
}

/* MAIN NAVIGATION */

.uppdrag-nav {
  font-family: "Alata", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.uppdrag-nav-activ {
  border-bottom: 3px solid grey;
}

.uppdrag-nav:hover {
  border-bottom: 3px solid grey;
}

/* UPPDRAG WEBB */

.uppdrag {
  grid-column: 1 / 7;
  display: flex;
  flex-flow: row wrap;
  /* gap: 50px; */
  /* padding: 30px; */
  justify-content: space-between;
  row-gap: 80px;
}

.uppdrag section {
  height: 600px;
  flex-grow: 0;
  width: 443px;
  /* border: 1px solid grey; */
}

.uppdrag-webb {
  grid-row: 3 / 4;
}

/* UPPDRAG APP */

.uppdrag-app-container {
  background-color: #f8f6f2;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1500px 1fr;
  padding: 80px 0;
}

.uppdrag-app {
  grid-column: 2 / 3;
}

/* UPPDRAG ITEMS */

.uppdrag-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uppdrag-item-img {
  /* background-color: lightseagreen; */
  flex-basis: 290px;
}

.uppdrag-item-img img {
  width: 100%;
  height: 300px;
}

.uppdrag-item-text {
  flex-basis: 250px;
}

.uppdrag-sort {
  height: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-style: bold;
}

.uppdrag-sort h4 span {
  background-color: #fea357;
  padding: 0 10px;
}

.uppdrag-name {
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.uppdrag-text {
  height: 160px;
  padding: 10px;
}

/* CONTACT */

.contact-container {
  /* background-color: greenyellow; */
  grid-column: 2 / 3;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.contact {
  height: 300px;
  width: 70%;
}

.contact section h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-button {
  text-align: center;
}

.contact-button button {
  margin-top: 50px;
  color: #2a2a2a;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 250px;
  border: 3px solid #74d6c9;
  /* background-color: none; */
}

.contact-button button:hover {
  background-color: #74d6c9;
}

/* MEDIA QUERIES */

/* @media screen and (max-width: 1600px) {
    .uppdrag-container {
      background-color: lightgreen;
      grid-template-columns: 1fr 1100px 1fr;
    }

    .uppdrag-app-container {
      grid-template-columns: 1fr 1100px 1fr;
    }

    .header-grey {
      grid-row: 6 / 16;
    }

    .uppdrag section {
      height: 500px;
      flex-grow: 0;
      width: 1000px;
      border: 1px solid grey;
    }



    @media screen and (max-width: 1200px) {
      .uppdrag-container {
        background-color: lightgreen;
        grid-template-columns: 1fr 900px 1fr;
      }
  


    @media screen and (max-width: 960px) {
      .uppdrag-container {
        background-color: lightseagreen;
        grid-template-columns: 1fr 800px 1fr;
      }


      @media screen and (max-width: 768px) {
        .uppdrag-container {
          background-color: lightseagreen;
          grid-template-columns: 1fr 600px 1fr;
        } */
